html,
body {
  min-height: 100%;
}

body {
  width: 1440px;
  font-family: "Roboto", sans-serif;
  background: #fbfdfd;
}

.btn {
  padding: 12px 18px;
  border-radius: 8px;
  background: #0b63e5;
  text-transform: capitalize;
  color: #fff;
  font-family: "Manrope", sans-seri;
  font-size: 15px;
  font-weight: 600;
  /* line-height: 15px; */
  letter-spacing: 4.8px;
  outline: none;
  border: none;
}
