html,
body {
  min-height: 100%;
}

body {
  width: 1440px;
  font-family: "Roboto", sans-serif;
  background: #fbfdfd;
}

.hero {
  background-image: url(./images/hero.png);
}

.btn {
  padding: 16px 40px;
  border-radius: 8px;
  background: #0b63e5;
  color: #fff;
  font-family: "Manrope", sans-seri;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 4.8px;
  outline: none;
  border: none;
}
